@charset "utf-8";

html{
	background-image: url("../world.jpg");
	background-size: cover;
	repeat: no-repeat;
	height: 100%;
	width: 100%;
	
}

#header{
	/*background-color: #D8D8D8;*/
	color: #000000;
	
	height: 10%;
	white-space: nowrap;
	padding-bottom: 0em;
	font-family: rockwell;
	font-size: 55;
	text-align: center;
	text-shadow: 3px 3px 5px #000000;
	filter: dropshadow(color=#000000, offx= 3, offy=3);
		
}

#sidebarL{
	/*background-color: #8A0808;*/
	background-color: rgba(150, 0, 0, 0.7);
	
	float: left;
	padding: 1em;
	padding-right: 2em;
	margin-left: 2em;
	height: 65%;
	width: 10%;
	
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;

}

#sidebarL li{
	list-style-type: none;
	margin-left: 1em;
	font-size: 20px;
	font-family: rockwell;
	
}

#sidebarR{
	/*background-color: #8A0808;*/
	background-color: rgba(150, 0, 0, 0.7);
	
	float: right;
	padding: 1em;
	padding-left: 2em;
	margin-right: 2em;
	height: 65%;
	width: 10%;
	align: right;

	
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;

}

#sidebarR li{
	list-style-type: none;
	margin-left: 1em;
	font-size: 20px;
	font-family: rockwell;
	
}

#header2{
	/*background-color: #D8D8D8;*/
	font-size: 25;

}

#navlist{
	background: linear-gradient(top, rgba(212,23,23, 0.7) 0%, rgba(97,97,97, 0.7) 100%, rgba(255,255,255, 0.7) 100%);
	background: -moz-linear-gradient(top, rgba(212,23,23, 0.7) 0%, rgba(97,97,97,1, 0.7) 100%, rgba(255,255,255, 0.7) 100%);
	background: -webkit-linear-gradient(top, rgba(212,23,23, 0.7) 0%, rgba(97,97,97, 0.7) 100%, rgba(255,255,255, 0.7) 100%);
	background: -ms-linear-gradient(top, rgba(212,23,23, 0.7) 0%, rgba(97,97,97, 0.7) 100%, rgba(255,255,255, 0.7) 100%);
	background: -o-linear-gradient(top, rgba(212,23,23, 0.7) 0%, rgba(97,97,97, 0.7) 100%, rgba(255,255,255, 0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#ffffff,GradientType=1);
	
	border-radius: 555px;
	-moz-border-radius: 555px;
	-webkit-border-radius: 555px;
	
	height: 5%;
	padding-top: 1em;
	bottom: 0em;
	margin-left: 1em;
	font-size: 25;
		
}

#navlist li {	
	display: inline;
	list-style-type: none;
	margin-left: 0.5em;
	
}

#body{
	/*background-color: #D8D8D8;*/

	padding-top: 1em;
	bottom: 0em;
	min-height: 70%;
	margin-left: 20em;
	
}

#footer{
	/*background-color: #D8D8D8;*/
	 
	padding-bottom: 0px;
	height: 5%;
	color: #000000;
	text-align: center;

}

a:link { font-weight:bold; color:black; text-decoration:none; }
a:visited { font-weight:bold; color:black; text-decoration:none; }
a:focus { font-weight:bold; color:gray; text-decoration:underline; }
a:hover { font-weight:bold; color:silver; text-decoration:none; }
a:active { font-weight:bold; color:silver; text-decoration:underline; }
